#conteudo {
    background: #dcdcdcb0;
    height:600px ;   
    display: flex;
    /* row | row-reverse | colum-resverse  */
    flex-direction: row;

    /* definir quebras de layouts
     nowrap | wrap | wrap-reverse */

     flex-wrap: nowrap;

     /* Alinnha itens na horizontal
      flex-start | flex-end | centre | space-between | space-around */

     justify-content: space-around;

     /* Alinha itens na vertical 
     stretch | center | flex-start | flex-end | baseline */
     align-items: center;
}


.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background:white;
    border: 1px solid gray;
}